# =========================
# IDE (CLion / IntelliJ)
# =========================
.idea/
*.iml

# =========================
# CMake
# =========================
cmake-build-*/
build/
CMakeFiles/
CMakeCache.txt
Makefile

# =========================
# Compiled files
# =========================
*.o
*.obj
*.exe
*.out

# =========================
# macOS
# =========================
.DS_Store